body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.menu {
  background-color: rgb(80, 145, 182);
  height: 70px;
  display: flex;
}
.h6 {
  font-family: "Courier New", Courier, monospace;
}
.ul {
  margin: auto;
}
.col {
  margin: 3px 2px;
}
.heart {
  display: flex;
  justify-content: end;
}
.titulo-h6 {
  color: #fff;
}
.container {
  height: 700px;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(80, 145, 182);
  height: 50px;
  position: relative;
  top: 100px;
}
.footer h2 {
  margin-top: 25px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 774px) {
  .container {
    height: auto;
  }
  .header {
    height: 100px;
  }
}

@media only screen and (max-width: 455px) {
  .col {
    display: flex;
    justify-content: center;
  }
}
